<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

  <script type="text=x-mathjax-config">
    MathJax.Hub.Config({ TeX: { extensions: ["AMScd.js", "AMSmath.js", "AMSsymbols.js"]}});
  </script>
  
  <script type="text/javascript"
      src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript">
  </script>

</html>
